{% include 'partials/header.html' %}

<div class="col-lg-12">
  <div class="row">
    <div class="col-lg-8">
      <h2 class="title">Todo List</h2>
      <ul class="list-group">
        {% for todo in todos %}
        <li class="list-group-item">
          <a href="/todos/details/{{ todo.id }}">
            <h3>{{ todo.title }}</h3></a
          >
          <p class="text-muted">{{ todo.text }}</p>
        </li>
        {% endfor %}
      </ul>
    </div>
    <div class="col-lg-4">
      <h2 class="title">Users List</h2>
      <ul class="list-group">
        {% for user in users %}

        <li class="list-group-item">
          <a href="/accounts/profile_view/{{user.id}}/">{{ user.username }}</a>
          {% if not user in friends %}
          <a
            href="{% url 'change_friends' operation='add'  pk=user.id %}"
            class="float-right btn btn-success btn-sm"
            >ADD FRIEND</a
          >
          {% endif %}
        </li>

        {% endfor %}
      </ul>
      <h2 class="title">Friends</h2>
      <ul class="list-group">
        {% for friend in friends %}
        <li class="list-group-item">
          <a href="/accounts/profile_view/{{user.id}}/"
            >{{ friend.username }}
          </a>
          <a
            href="{% url 'change_friends' operation='remove'  pk=friend.id %}"
            class="float-right btn btn-danger btn-sm"
            >UNFRIEND</a
          >
        </li>

        {% endfor %}
      </ul>
    </div>
  </div>
</div>

{% include 'partials/footer.html' %}
