body {
  padding-left: 2rem;
  padding-right: 2rem;
}

.main {
  margin-top: 6rem !important;
  padding-bottom: 3rem !important;
}

ul {
  list-style: none !important;
}

a,
a:visited {
  color: green;
  text-decoration: none !important;
}
