{% include 'partials/header.html' %}
<h3>Profile Details</h3>
<p><strong>Username:</strong> {{ user.username }}</p>
<p><strong>Fullname</strong>: {{ user.first_name }} {{ user.last_name }}</p>
<p><strong>Email:</strong> {{ user.email }}</p>
<p><strong>Description:</strong> {{ user.accounts.description }}</p>
<p><strong>City:</strong> {{ user.accounts.city }}</p>
<p><strong>Website:</strong> {{ user.accounts.website }}</p>
<p><strong>Phone:</strong> {{ user.accounts.phone }}</p>
{% if user.accounts.image %}
<img src="{{ user.accounts.image.url }}" width="240" /> {% endif %} <br />
<br />
{% if user == request.user %}
<a href="/accounts/profile/edit/" class="btn btn-primary">Edit</a> {% endif %}

<br />
{% include 'partials/footer.html' %}
